*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: [nav-start] min-content [nav-end header-start] min-content [header-end main-start] repeat(3, min-content) [main-end footer-start] min-content [footer-end]; }

.navbar {
  grid-row: nav-start/ nav-end; }

.header {
  grid-row: header-start/ header-end; }

.main {
  grid-row: main-start/main-end;
  background-color: rgba(191, 191, 191, 0.2); }

.footer {
  grid-row: footer-start/footer-end;
  background-color: #000; }

a {
  text-decoration: none; }

.btn {
  outline: none;
  border: none;
  padding: 1rem 3rem;
  font-family: inherit;
  color: white;
  background-color: #2acfcf;
  display: inline-block;
  transition: transform .2s;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover {
    cursor: pointer;
    background-color: #7ce4e4;
    transform: translateY(-2px); }
  .btn--round {
    border-radius: 5rem; }
  .btn--rect {
    border-radius: 5px; }

button {
  font-size: 1.8rem; }

.navbar {
  display: flex;
  align-items: center;
  margin: 4rem 20rem;
  position: relative; }
  .navbar .menu {
    opacity: 0; }
  .navbar label {
    height: 2.5px;
    background-color: #bfbfbf;
    width: 3rem;
    position: absolute;
    display: none;
    top: 2.25rem;
    right: 0; }
    .navbar label::after {
      content: "";
      position: absolute;
      display: block;
      height: 2.5px;
      background-color: currentColor;
      width: 3rem;
      top: -1rem; }
    .navbar label::before {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      background-color: currentColor;
      width: 3rem;
      top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar label {
        display: block; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      margin: 4rem;
      flex-direction: column;
      align-items: stretch; } }
  .navbar .site-name {
    font-weight: 700;
    font-size: 3.5rem;
    display: inline-block;
    margin-right: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar .site-name {
        display: block;
        margin: 0; } }
  .navbar .nav {
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    color: #bfbfbf;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .navbar .nav {
        display: flex;
        flex-direction: column;
        background-color: #3b3054;
        padding: 2rem;
        color: white;
        font-weight: 700;
        border-radius: 2rem;
        position: absolute;
        z-index: 400;
        top: 7rem;
        opacity: 0;
        transition: all .2s; }
        .navbar .nav__items .nav__item:last-child {
          padding-bottom: 3rem; }
        .navbar .nav__buttons .nav__item:first-child {
          padding-top: 3rem;
          border-top: 1px solid rgba(191, 191, 191, 0.2); }
        .navbar .nav .btn {
          display: block; } }
    .navbar .nav__items, .navbar .nav__buttons {
      list-style: none;
      display: inline-block;
      margin: auto 0; }
      .navbar .nav__items .nav__item, .navbar .nav__buttons .nav__item {
        display: inline; }
        .navbar .nav__items .nav__item:not(:last-child), .navbar .nav__buttons .nav__item:not(:last-child) {
          margin-right: 3.5rem; }
          @media only screen and (max-width: 37.5em) {
            .navbar .nav__items .nav__item:not(:last-child), .navbar .nav__buttons .nav__item:not(:last-child) {
              margin-right: 0; } }
        @media only screen and (max-width: 37.5em) {
          .navbar .nav__items .nav__item, .navbar .nav__buttons .nav__item {
            display: block;
            text-align: center;
            padding: 2rem; } }
      .navbar .nav__items .nav-link:visited,
      .navbar .nav__items .nav-link:link, .navbar .nav__buttons .nav-link:visited,
      .navbar .nav__buttons .nav-link:link {
        text-decoration: none;
        color: currentColor; }
        .navbar .nav__items .nav-link:visited:hover,
        .navbar .nav__items .nav-link:link:hover, .navbar .nav__buttons .nav-link:visited:hover,
        .navbar .nav__buttons .nav-link:link:hover {
          color: black; }

.menu:checked ~ .nav {
  opacity: 1; }

.header {
  display: grid;
  margin-left: 20rem;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1rem;
  margin-bottom: 18vh;
  margin-top: 3vh;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
      grid-row-gap: 4rem;
      margin: 0 0 18vh 0; } }
  .header__text-box {
    grid-column: 1/2;
    margin: auto 0; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center; } }
    .header__text-box h1 {
      font-size: 7rem;
      line-height: 1.25; }
      @media only screen and (max-width: 37.5em) {
        .header__text-box h1 {
          font-size: 5rem; } }
    .header__text-box p {
      color: #bfbfbf;
      font-size: 2.5rem; }
      @media only screen and (max-width: 37.5em) {
        .header__text-box p {
          font-size: 2rem; } }
  .header__cta {
    margin: 3rem 0 0 0; }
  .header__image {
    padding-left: 10rem;
    width: 110%; }
    @media only screen and (max-width: 37.5em) {
      .header__image {
        grid-row: 1/2;
        padding-left: 0;
        height: auto;
        width: 140%; } }

.links {
  margin: 0 20rem;
  font-size: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .links {
      margin: 0 4rem; } }
  .links .link__input-box {
    height: 25vh;
    background-image: url(../images/bg-boost-desktop.svg);
    background-color: #232127;
    background-size: cover;
    border-radius: 1rem;
    margin-top: -12.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem; }
    @media only screen and (max-width: 37.5em) {
      .links .link__input-box {
        height: 42vw;
        flex-direction: column;
        padding: 3rem;
        align-items: stretch; } }
    .links .link__input-box .user__link {
      flex: 70%;
      border-radius: 2px;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: 1.75rem;
      height: 5rem;
      padding: 2rem;
      margin-right: 4rem;
      position: relative;
      font-family: inherit; }
      @media only screen and (max-width: 37.5em) {
        .links .link__input-box .user__link {
          flex: 1;
          margin-right: 0;
          margin-bottom: 3rem;
          padding: 1rem; } }
      .links .link__input-box .user__link::-webkit-input-placeholder {
        font-family: 'Poppins', sans-serif; }
      .links .link__input-box .user__link-label {
        position: absolute;
        font-size: 1.2rem;
        color: #f46262;
        font-style: italic;
        opacity: 0; }
    .links .link__input-box .invalid-input {
      border: 3px solid #f46262; }
      .links .link__input-box .invalid-input::-webkit-input-placeholder {
        color: rgba(244, 98, 98, 0.5); }
    .links .link__input-box .invalid-msg {
      opacity: 1;
      transform: translateY(4rem); }
      @media only screen and (max-width: 37.5em) {
        .links .link__input-box .invalid-msg {
          transform: translateY(6.5rem); } }
    .links .link__input-box .btn {
      height: 5rem; }
  .links .link__output-boxes {
    font-size: 1.6rem; }
    .links .link__output-boxes .link__output-box {
      display: flex;
      background-color: #fff;
      padding: 0 2.5rem;
      border-radius: 5px;
      align-items: center;
      margin-top: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .links .link__output-boxes .link__output-box {
          flex-direction: column;
          align-items: stretch;
          padding: 2.25rem;
          height: 40vw;
          justify-content: space-between;
          position: relative; } }
      .links .link__output-boxes .link__output-box .input__link {
        flex: 60%;
        color: #35323e;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
        @media only screen and (max-width: 37.5em) {
          .links .link__output-boxes .link__output-box .input__link {
            flex: 0 1 auto; }
            .links .link__output-boxes .link__output-box .input__link::after {
              content: "";
              display: block;
              z-index: 78;
              width: 88%;
              height: 1px;
              background-color: #bfbfbf;
              border: none;
              position: absolute;
              top: 5.5rem; } }
      .links .link__output-boxes .link__output-box .output__link {
        flex: 25%;
        color: #2acfcf; }
        @media only screen and (max-width: 37.5em) {
          .links .link__output-boxes .link__output-box .output__link {
            flex: 0 1 auto; } }
      .links .link__output-boxes .link__output-box .copy-btn {
        display: block;
        width: 14rem;
        text-align: center; }
        @media only screen and (max-width: 37.5em) {
          .links .link__output-boxes .link__output-box .copy-btn {
            width: 100%; } }

.statistics {
  margin: 8rem 20rem 5rem 20rem; }
  @media only screen and (max-width: 37.5em) {
    .statistics {
      margin: 10rem 4rem 2rem; } }
  .statistics__text-box {
    margin: 0 auto;
    text-align: center;
    width: 33%; }
    @media only screen and (max-width: 37.5em) {
      .statistics__text-box {
        width: 100%; } }
    .statistics__text-box .heading-secondary {
      margin-bottom: 1.5rem; }
  .statistics p {
    font-size: 1.6rem;
    color: #9e9aa7; }
  .statistics__info {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 10rem;
    margin: 7rem 0 16rem; }
    .statistics__info hr {
      height: 1.5rem;
      width: 100%;
      background-color: #2acfcf;
      position: absolute;
      top: 50%;
      z-index: -1;
      border: none; }
      @media only screen and (max-width: 37.5em) {
        .statistics__info hr {
          transform: rotate(90deg); } }
    .statistics__info .statistic__box {
      background-color: #fff;
      padding: 0 3rem 3rem 3rem;
      height: 25rem;
      border-radius: 5px; }
      .statistics__info .statistic__box--2 {
        transform: translateY(4rem); }
      .statistics__info .statistic__box--3 {
        transform: translateY(8rem); }
      .statistics__info .statistic__box figcaption {
        font-weight: 700;
        margin: 2rem 0 1.5rem 0; }
    .statistics__info .statistic__image {
      background-color: #3b3054;
      display: inline-block;
      width: 7rem;
      height: 7rem;
      border: 1.5rem solid currentColor;
      border-radius: 100%;
      margin-top: -3.25rem; }
    .statistics__info .statistic__img {
      display: block;
      width: 100%;
      fill: currentColor; }

.boost {
  padding: 6rem 0;
  text-align: center;
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: #3b3054;
  background-size: cover;
  color: white; }
  @media only screen and (max-width: 37.5em) {
    .boost {
      background-image: url(../images/bg-boost-mobile.svg); } }
  .boost .heading-secondary {
    margin-bottom: 2.5rem; }

.footer {
  color: white;
  display: grid;
  padding: 5rem 20rem;
  grid-template-columns: 35% repeat(4, minmax(min-content, 1fr));
  grid-row-gap: 3rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 2.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer > * {
        width: 60%;
        text-align: center; } }
  .footer .site__name {
    font-weight: 700;
    font-size: 3rem; }
  .footer .headers {
    margin-bottom: 1.5rem; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      margin: 1rem 0; }
  .footer a {
    color: #bfbfbf; }
    .footer a:hover {
      cursor: pointer;
      color: #2acfcf; }
  .footer .site__socials {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; }
  .footer .attribution {
    grid-column: 1/-1;
    font-size: 11px;
    text-align: center; }
  .footer .attribution a {
    color: #3e52a3; }
